<h2>{{ title }}</h2>
<table class="table">
  <th>ID</th>
  <th>Nombre</th>
    <tr *ngFor= "let pokemon of pokemons;">
      <td contenteditable>{{ pokemon.id }}</td>
      <td contenteditable>{{ pokemon.name }}</td>
      <td><button (click)= "pokemonEditDisplay(pokemon)" class="btn btn-outline-warning">Modificar</button></td>
      <td><button (click)= "deletePokemon(pokemon.id)" class="btn btn-outline-danger">Borrar</button></td>
    </tr>
    <button (click)= "nuevopokemon()" class="btn btn-outline-success">Añadir</button>
</table>
<app-ver-pokemon
 *ngIf= "display"
 [pokemon]= "pokemon"
 (edit)= "pokemonEditDisplay($event)"
 (close)= "cerrarpokemon()"
 (deletePokemon)= "deletePokemon($event)"
 ></app-ver-pokemon>
